# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local env files
.env
codeship.env
local.env

# Other files
**/*.log
**/.DS_Store
*-packr.go
*.aes
*.pid
.console_history
.grifter/
.idea/
.jhw-cache/
.vendor/
.vscode/
application/grifts/private.go
application/migrations/schema.sql
application/swagger.json
application/vendor/
bin/
coverage
coverage.data
generated/
jhw.*
tmp/
go-build/
