# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


application/swagger.json
application/vendor/
**/*.log
.idea/
bin/
tmp/
*-packr.go
.vscode/
.grifter/
.env
codeship.env
**/.DS_Store
*.pid
coverage
coverage.data
.console_history
.jhw-cache/
jhw.*
generated/
.vendor/
*.aes
application/grifts/private.go
application/migrations/schema.sql