version: "3.7"

services:
  buffalo:
    build:
      context: ./application
      dockerfile: Dockerfile-dev
    volumes:
      - ./application:/riskman
      - go-build:/root/.cache/go-build
    ports:
      - "3000:3000"
      - "6060"
    env_file:
      - ./test.env
      - ./.env
    environment:
      ADDR: 0.0.0.0
      PORT: 3000
      DATABASE_URL: postgres://riskman:riskman@db:5432/riskman?sslmode=disable
      GO_ENV: development
      RISKMAN_API_BASE_URL: http://riskman.local:3000
      RISKMAN_APP_NAME: Riskman
      RISKMAN_SESSION_SECRET: lkndsf98kj4kjbOIhw4kj5h
    depends_on:
      - db
      - minio
    command: buffalo dev

  test:
    build:
      context: ./application
      dockerfile: Dockerfile-dev
    volumes:
      - ./application:/riskman
    env_file:
      - ./test.env
    environment:
      GO_ENV: test
      DOCKER_IP: testdb
      HISTCONTROL: ignoreboth:erasedups
      LOG_LEVEL: fatal
      RISKMAN_API_BASE_URL: localhost
      RISKMAN_SAML_SP_ENTITY_ID: http://example.local:3000
      RISKMAN_SAML_AUDIENCE_URI: http://example.local:3000
      RISKMAN_SAML_IDP_ENTITY_ID: our.idp.net
      RISKMAN_SAML_IDP_CERT: -----BEGIN CERTIFICATE-----\nMIIDXTC...2bb\nPw==\n-----END CERTIFICATE-----\n
      RISKMAN_SAML_SP_CERT: -----BEGIN CERTIFICATE-----\nMIIDXTC...3cc\nPw==\n-----END CERTIFICATE-----\n
      RISKMAN_SAML_SP_PRIVATE_KEY: -----BEGIN PRIVATE KEY-----\nMIIG/gIB...OJxmEMBgT\n-----END PRIVATE KEY-----\n
      RISKMAN_SAML_ASSERTION_CONSUMER_SERVICE_URL: http://example.local:3000/auth/callback
      RISKMAN_SAML_SSO_URL: https://our.idp.net/saml2/idp/SSOService.php
      RISKMAN_SAML_SLO_URL: https://our.idp.net/saml2/idp/SingleLogoutService.php
    depends_on:
      - testdb
      - minio
    working_dir: /riskman
    command: buffalo test

  db:
    image: postgres:11.6
    volumes:
      - ./db-init.sh:/docker-entrypoint-initdb.d/db-init.sh
    environment:
      POSTGRES_USER: riskman
      POSTGRES_PASSWORD: riskman
      POSTGRES_DB: riskman

  testdb:
    image: postgres:11.6
    volumes:
      - ./db-init.sh:/docker-entrypoint-initdb.d/db-init.sh
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: riskman
      POSTGRES_PASSWORD: riskman
      POSTGRES_DB: riskman_test

  # http://localhost:8080/?pgsql=db&username=riskman&db=riskman&ns=public
  adminer:
    image: adminer
    depends_on:
      - db
    ports:
      - 8080:8080

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
    command: server /data
    env_file:
      - test.env
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}

  swagger:
    image: quay.io/goswagger/swagger:latest
    ports:
      - "8082:8082"
    volumes:
      - ./application/:/app
    working_dir: /app

volumes:
  go-build: {}
