
<%
	let alertStyles = {
    	beach_access: {
  			bgColor: "#EBFFF7",
  			alertColor: "#028353",
  			alertSrc: "beach_access",
  			alertAlt: "Umbrella",
    	},
  		check: {
  			bgColor: "#EBFFF7",
  			alertColor: "#028353",
  			alertSrc: "check",
  			alertAlt: "Check",
  		},
		clock: {
  			bgColor:  "#EBEEF2",
  			alertColor:  "#394452",
  			alertSrc:  "clock",
  			alertAlt:  "Clock",
  		},
		clipboard: {
  			bgColor: "#EEF2FA",
  			alertColor: "#2E5AAC",
  			alertSrc:  "clipboard",
  			alertAlt:  "Clipboard",
  		},
		do_not_enter: {
  			bgColor: "#FEEFEF",
  			alertColor: "#DA1414",
  			alertSrc: "do_not_enter",
  			alertAlt: "Stop",
  		},
		dollar: {
  			bgColor: "#EBFFF7",
  			alertColor: "#028353",
  			alertSrc: "dollar",
  			alertAlt: "Dollar",
  		},
		error: {
  			bgColor: "#FFF4EC",
  			alertColor: "#B95000",
  			alertSrc: "error",
  			alertAlt: "Error",
  		},
		new: {
  			bgColor: "#EEF2FA",
  			alertColor: "#2E5AAC",
  			alertSrc: "new",
  			alertAlt: "New",
		},
    }

	let bgColor = "#EEEEEE"
	let alertColor = "#222222"
	let alertSrc = ""
	let alertAlt = ""

	let styles = alertStyles[alert_icon]
	if (styles != null) {
		bgColor = styles["bgColor"]
		alertColor = styles["alertColor"]
		alertSrc = styles["alertSrc"]
		alertAlt = styles["alertAlt"]
	}
%>


<div style="margin:16px 0px; padding:8px; border-radius: 8px; background: <%= bgColor %>;">
	<table>
		<tr>
			<td rowspan="2"><div style="width:30px;">
				<img src="cid:<%= alertSrc %>" alt="<%= alertAlt %>" style="width:100%;"/>
			</div></td>
			<th style="text-align: left; color: <%= alertColor %>"><%= alert %></th>
		</tr>
		<%= if ( alert_description != "" ) { %>
		 <tr>
			<td><span style="color: <%= alertColor %>;">
				<%= alert_description %>
			</span></td>
		 </tr>
		<% } %>
	</table>
</div>
