

<header>
	<table style="background-color: #ffffff; width: 100%">
		<tr>
			<td>
				<img src="cid:logo" style="max-height: 4em; vertical-align: middle">
			</td>
			<%= if ( title != "" ) { %>
			 <td>
				 <h1><%= title %></h1>
			 </td>
			<% } %>
		</tr>
	</table>
</header>

<%= if ( subTitle != "" ) { %>
 <div style="padding: 0 0 2em 0;"><%= subTitle %></div>
<% } %>

<%= if ( alert != "" ) { %>
 <div style="padding:8px; border-radius: 8px; background: #EBEEF2;">
	<table style="width: 100%;">
		<tr>
			<td rowspan="2" style="padding-right: 0.5em;">
				<%= if ( alert_icon == "clock" ) { %>
				 <img src="cid:clock" alt="Clock" />
				<% } else if ( alert_icon == "clipboard" ) { %>
				 <img src="cid:clipboard" alt="Clipboard" />
				<% } else if ( alert_icon == "new" ) { %>
				 <img src="cid:new" alt="New" />
				<% } else {
					alert_icon
				} %>
			</td>
			<th style="text-align: left;"><%= alert %></th>
		</tr>
		<%= if ( alert_description != "" ) { %>
		 <tr>
			<td>
				<%= alert_description %>
			</td>
		 </tr>
		<% } %>
	</table>
 </div>
<% } %>
