
<header>
	<table style="background-color: #ffffff; width: 100%; padding-bottom: 10px;">
		<tr>
			<td style="width: 250px;">
				<img src="cid:logo" style="max-height: 4em; vertical-align: middle">
			</td>
			<%= if ( title != "" ) { %>
			 <td style="padding-top: 20px;">
				 <span style="
				 	color: #6D7580;
				 	font-family: Arial;
				 	font-size: 32px;
				 	line-height: 28px;">
					 <%= title %>
				 </span>
			 </td>
			<% } %>
		</tr>
	</table>
</header>

<%= if ( subTitle != "" ) { %>
 <div style="
 	padding: 2em 0;
	color: #09101D;
	font-family: Arial;
	font-size: 16px;
	line-height: 20px;
">
	 <%= subTitle %>
 </div>
<% } %>
