<div>
	<h4 style="margin:0; padding:0;">Claim ID</h4>
	<%= claim.ReferenceNumber %>
</div>

<%= partial("category", {
	name: claim.IncidentType,
	helpText: ""}
) %>

<div>
	<h4 style="margin:0; padding:0;">Incident</h4>
	<%= item.IncidentDate %>
	<p>
		<%= claim.IncidentDescription %>
	</p>
</div>

<div>
	<h4 style="margin:0; padding:0;">Desired Resolution</h4>
	<%= claim.Resolution %>
	<%= claim.ResolutionDescription %>
</div>

<div>
	<h4 style="margin:0; padding:0;">Maximum Payout</h4>
	<%= claim.CoveredValue %>
</div>
