
<div>
	<h4 style="margin:0; padding:0">Claim ID</h4>
	<%= claim.ReferenceNumber %>
</div>

<%= partial("category", {
		name: incidentType,
		helpText: incidentTypeDescription
	}
) %>

<div>
	<h4 style="margin:0; padding:0">Incident</h4>
	<%= incidentDate %>
	<p>
		<%= claim.IncidentDescription %>
	</p>
</div>

<div>
	<h4 style="margin:0; padding:0">Desired resolution</h4>
	<%= payoutOption %>
	<%= payoutOptionDescription %>
</div>

<div>
	<h4 style="margin:0; padding:0">Maximum payout</h4>
	<%= maximumPayout %>
</div>
