<div style="
	padding: 16px;
	font-family: Source Sans Pro,sans-serif;
	font-size: 23px;
	line-height: 24px;
	background-color: #f4f6f9;">

	Claim
</div>

<div style="background-color: #fafbfc; padding: 16px;">
	<div style="margin-bottom:8px;">
		<h4 style="margin:0; padding:0">Claim ID</h4>
		<%= claim.ReferenceNumber %>
	</div>

	<div style="margin:8px 0px;">
		<h4 style="margin:0; padding:0">Incident</h4>
		<%= incidentDate %>
		<p>
			<%= claim.IncidentDescription %>
		</p>
	</div>

	<%= partial("category", {
		name: incidentType,
		helpText: incidentTypeDescription
	}) %>
</div>

<%= if (showPayout) { %>
	<div style="padding: 0px 16px;">
		<div style="margin-top: 8px;">
			<h4 style="margin: 0;">Desired resolution</h4>
			<%= payoutOption %>
			<%= payoutOptionDescription %>
		</div>

		<div style="margin-top: 8px;">
			<h4 style="margin: 0;">Maximum payout</h4>
			<%= totalPayout %>
		</div>
	</div>
<% } %>
