<footer>
	<div style="background-color: #f4f6f9; padding: 16px; margin-top: 16px;">
		<table>
			<tr>
				<td rowspan="3" style="padding-right: 5px"><div style="width: 85px;">
					<img style="width: 100%;" src="cid:signature_logo" alt="SIL" />
				</div></td>
				<th style="text-align: left; vertical-align: top; padding: 0px;">
					<%= supportName %>
				</th>
			</tr>
			<tr>
				<td style="text-align: left; vertical-align: top; padding: 0px;">
					Mutual Aid Program Steward
				</td>
			</tr>
			<tr>
				<td style="text-align: left; vertical-align: top; padding: 0px;">
					<a href="mailto:<%= supportEmail %>"><%= supportEmail %></a>
				</td>
			</tr>
		</table>
	</div>
	<div style="background-color: #ebeef2; padding: 16px; font-size: 9px;">
		<div style="margin-bottom: 8px;">
			<span style="margin-right: 10px;">
				<a href="<%= uiURL %>/home">Your Account</a>
			</span>
		</div>
		<div style="margin-bottom: 8px;">
			<%= appName %> is a service of SIL International.<br>
			SIL International, 7500 W Camp Wisdom Rd, Dallas, TX 75236, USA
		</div>
		<div style="margin-bottom: 8px">
			<%= if ( supportURL != "" ) { %>
			<span style="margin-right: 10px;">
				<a href="<%= supportURL %>">Support</a>
			</span> ·
			<% } %>
			<%= if ( faqURL != "" ) { %>
			<span style="margin-left: 10px;margin-right: 10px;">
				<a href="<%= faqURL %>">Frequently Asked Questions</a>
			</span> ·
			<% } %>
			<span style="margin-left: 10px;margin-right: 10px;">
				<a href="<%= uiURL %>/terms">Terms of Use</a>
			</span> ·
			<span style="margin-left: 10px;">
				<a href="<%= uiURL %>/privacy">Privacy Policy</a>
			</span>
		</div>
		<%= if ( policy.Name != "" ) { %>
		<div>
			You've received this email because you're a customer of the <%= policy.Name %> policy in <%= appName %>.
		</div>
		<% } %>
	</div>
</footer>
