<div style="
	padding: 16px;
	font-family: Source Sans Pro,sans-serif;
	line-height: 24px;
	background-color: #f4f6f9;">
	<div style="
		font-family: Source Sans Pro,sans-serif;
		font-size: 23px;
		line-height: 24px;">
		<%= item.Name %>
	</div>
	<div style="
		font-family: Source Sans Pro,sans-serif;
		font-size: 16px;
		line-height: 24px;">
		<%= item.GetMakeModel() %>
	</div>
</div>


<%= if ( item.SerialNumber != "" ) { %>
 <div>
	<h4 style="margin:0; padding:0;">Unique ID</h4>
	<%= item.SerialNumber %>
 </div>
<% } %>


<%= if ( item.Description != "" ) { %>
 <div style="padding: 1em 0;"><%= item.Description %></div>
<% } %>

<%= partial("category", {
		name: item.Category.Name,
		helpText: item.Category.HelpText
	}
) %>

<%= partial("button", {
	url: itemURL,
	label: "Open Item in " + appName}
) %>

<table style="padding: 0 0 1em 0;">
	<%= if (coverageAmount != "") { %>
	 <tr>
	 	<th style="text-align: left; padding-top: 1em;">Covered value</th>
	 	<th style="text-align: left; padding-top: 1em;">Premium</th>
	 </tr>
	 <tr>
	 	<td><%= coverageAmount %></td>
	 	<td><%= premium %>/yr</td>
	 </tr>
	<% } %>

	<%= if (coverageStartDate != "") { %>
	 <tr style="padding-top: 1em;">
	 	<th style="text-align: left; padding-top: 1em;">Starts</th>
	 	<th style="text-align: left; padding-top: 1em;">Ends</th>
	 </tr>
	 <tr>
	 	<td><%= coverageStartDate %></td>
	 	<td><%= if ( coverageEndDate != "" ) { %>
	 		  <%= coverageEndDate %>
	 		<% } else { %>
	 		  &mdash;
	 		<% } %>
	 	</td>
	 </tr>
	<% } %>
	<tr>
		<th colspan="2" style="text-align: left; padding-top: 1em;">Accountable to</th>
	</tr>
	<tr>
		<td colspan="2"><%= accountablePerson %></td>
	</tr>
	<tr>
		<td colspan="2">Household ID <%= householdID %></td>
	</tr>
</table>
