<div>
	<%= partial("body_header", {
			title: "New Claim",
			subTitle: "New claim from " + memberName + ": " + item.Name,
			alert: "Needs claim review",
			alert_description: "Submitted " + submitted + " days ago",
			alert_icon: "clipboard",
		}
	) %>

	<%= partial("claim_card", {
			claim: claim,
			claimItem: claimItem,
			payoutOptionDescription: payoutOptionDescription,
			maximumPayout: maximumPayout,
		}
	) %>

	<%= partial("button", {
			url: claimURL,
			label: "Open in Cover",
		}
	) %>

</div>
