<div>
	<%= partial("body_header", {
		title: "Receipt needed",
		subTitle: "",
		alert: "Claim Needs Attention",
		alert_description: "",
		alert_icon: "new_releases"}
	) %>

	<p>
		Dear <%= personFirstName %>,
	</p>

	<p>
		Thank you for reporting your claim! We hope to make this process as simple as possible for you.
	</p>

	<p>
		To complete your claim on your <%= item.Name %>,
we need you to upload a receipt of your <%= receiptMessage %> costs.
	</p>

	<%= partial("button", {
		url: claimURL,
		label: "Upload a Receipt"}
	) %>

</div>
