<div>
	<%= partial("body_header", {
		title: "Change needed",
		subTitle: "",
		alert: "Claim Needs Attention",
		alert_description: "",
		alert_icon: "new_releases"}
	) %>


	<p>
		Dear <%= personFirstName %>,
	</p>

	<p>
		Thank you for reporting your claim! We hope to make this process as simple as possible for you.
	</p>

	<p>
		To complete the claim on your <%= item.Name %>, we need a little more information.
	</p>

	<p>
		<%= supportFirstName %> says:
	</p>

	<p style="text-indent:2em;">
		<%= claim.StatusReason %>
	</p>


	<%= partial("button", {
		url: claimURL,
		label: "Take me to my Claim"}
	) %>

</div>
