<div>
	<%= partial("body_header", {
	previewText: personFirstName + ", Thank you for reporting your claim.  We hope to make this process as simple"+
		" as possible for you. To complete your claim on " + item.Name + ", we need a receipt.",
	title: "Claim Needs Receipt",
	}) %>

	<div style="max-width: 80ch;">
		<p>
			Dear <%= personFirstName %>,
		</p>

		<p>
			Thank you for reporting your claim. We hope to make this process as simple as possible for you.
			To complete your claim on <%= item.Name %>, we need a receipt.
		</p>

		<p>
			<%= claim.StatusReason %>
		</p>

		<p>
			&mdash;<%= supportFirstName %>
		</p>
	</div>

	<%= partial("alert", {
		alert: "Needs receipt",
		alert_description: "",
		alert_icon: "error",
	}) %>

	<%= partial("claim_card", {
		claim: claim,
		incidentDate: incidentDate,
		incidentType: incidentType,
	}) %>

	<div style="padding: 16px;">
		<%= partial("button", {
			url: claimURL,
			label: "Open in " + appName,
		}) %>
	</div>

	<hr style="margin: 2rem 0;">

	<div style="font-size: 14px; line-height: 50px;">
		ITEM DETAILS
	</div>

	<%= partial("item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: coverageStartDate,
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: "Open Item in " + appName
	}) %>

	<%= partial("customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName,
		appName: appName,
		policy: policy,
		uiURL: uiURL,
	}) %>

</div>
