<div>
	<%= partial("body_header", {
	previewText: personFirstName + ", Thank you for reporting your claim.  We hope to make this process as simple"+
		" as possible for you. To complete your claim on " + item.Name + ", we need a receipt.",
	title: "Claim Needs Receipt",
	subTitle: "",
	}) %>

	<p>
		Dear <%= personFirstName %>,
	</p>

	<p>
		Thank you for reporting your claim. We hope to make this process as simple as possible for you.
		To complete your claim on <%= item.Name %>, we need a receipt.
	</p>

	<p>
		<%= claim.StatusReason %>
	</p>

	<p>
		&mdash;<%= supportFirstName %>
	</p>

	<%= partial("alert", {
		alert: "Needs receipt",
		alert_description: "",
		alert_icon: "error",
	}) %>

	<%= partial("claim_card", {
		claim: claim,
		incidentDate: incidentDate,
		incidentType: incidentType,
	}) %>

	<div style="padding: 16px;">
		<%= partial("button", {
			url: claimURL,
			label: "Open in " + appName,
		}) %>
	</div>

	<%= partial("customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName,
		appName: appName,
		policy: policy,
		uiURL: uiURL,
	}) %>

</div>
