
<div>
	<%= partial("mail/body_header", {
			previewText: "No action needed. Coverage is now active. Dear "+personFirstName+", "+item.Name+" has been approved for coverage.",
			title: "Coverage Approved",
	}) %>

	<div style="max-width: 80ch;">
		<p>
			Dear <%= personFirstName %>,
		</p>

		<p>
			<%= item.Name %> has been approved for coverage and added to your <%= policyType %> policy.
		</p>
		<p>
			&mdash;<%= supportFirstName %>
		</p>
	</div>

	<%= partial("mail/alert", {
		alert: "Coverage approved",
		alert_description: "No action needed. Coverage is now active. ",
		alert_icon: "beach_access",
	}) %>

	<%= partial("mail/item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: premium,
		coverageStartDate: coverageStartDate,
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: "Open Item in " + appName
	}) %>

	<%= partial("mail/customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName,
		appName: appName,
		policy: policy,
		uiURL: uiURL,
	}) %>
</div>

