<div>
	<%= partial("mail/body_header", {
		previewText: "",
		title: "New Item Coverage Application",
	}) %>

	<%= partial("mail/alert", {
		alert: "Needs item coverage review",
		alert_description: "",
		alert_icon: "new"}
	) %>

	<%= partial("mail/item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: premium,
		coverageStartDate: coverageStartDate,
		coverageEndDate: coverageEndDate,
		accountablePerson: accountablePerson,
		policyType: policyType,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: "Open Item in " + appName,
	}) %>

</div>
