<div>
	<%= partial("body_header", {
		title: "Notice",
		subTitle: "Coverage has been auto approved for " + item.Name,
	}) %>

	<%= partial("alert", {
		alert: "",
		alert_description: "",
		alert_icon: ""}
	) %>

	<%= partial("item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: coverageStartDate,
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID}
	) %>

	<%= partial("button", {
		url: itemURL,
		label: "Open in Cover"}
	) %>

</div>

