
<div>
	<%= partial("body_header", {
	    title: "We're sorry",
	    subTitle: "Coverage was not approved for " + item.Name,
	    alert: "Denial reason",
	    alert_description: item.StatusReason}
	) %>

	<%= partial("item_card", {
	    item: item,
	    coverageAmount: "",
	    premium: "",
	    coverageStartDate: "",
	    accountablePerson: accountablePerson,
	    householdID: policy.HouseholdID}
	) %>

	<%= partial("button", {
	    url: itemURL,
	    label: "Open in Cover"}
	) %>

	<%= partial("customer_footer", {
	    supportEmail: supportEmail,
	    supportName: supportName}
	) %>
</div>

