<div>
	<%= partial("body_header", {
		previewText: "",
		title: "New Item Auto-Approved",
	}) %>

	<%= partial("alert", {
		alert: "Item auto-approved",
		alert_description: "No action required. Coverage is now active.",
		alert_icon: "beach_access",
	}) %>

	<%= partial("item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: coverageStartDate,
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: "Open Item in " + appName
	}) %>

</div>

