
<div>
	<%= partial("mail/body_header", {
		previewText: "Dear "+personFirstName+", You recently requested coverage on "+
			item.Name+", but we're not able to cover this item at this time.",
		title: "Coverage Denied",
	}) %>

	<div style="max-width: 80ch;">
		<p>
			Dear <%= personFirstName %>,
		</p>

		<p>
			You recently requested coverage on <%= item.Name %>, but we're not able to cover this item
			at this time.
		</p>

		<p>
			<%= item.StatusReason %>
		</p>

		<p>
			&mdash;<%= supportFirstName %>
		</p>
	</div>

	<%= partial("mail/alert", {
		alert: "Coverage denied",
		alert_description: "",
		alert_icon: "do_not_enter",
	}) %>

	<%= partial("mail/item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: premium,
		coverageStartDate: "",
		accountablePerson: accountablePerson,
		policyType: policy.Type,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: "View Item in " + appName
	}) %>

	<%= partial("mail/customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName,
		appName: appName,
		policy: policy,
		uiURL: uiURL,
	}) %>

</div>

