<div>
	<%= partial("body_header", {
		previewText: "",
		title: "Action Required",
		subTitle: "Coverage is pending your approval for " + item.Name,
	}) %>

	<%= partial("item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: coverageStartDate,
		coverageEndDate: coverageEndDate,
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID}
	) %>

	<%= partial("button", {
		url: itemURL,
		label: "Open in " + appName}
	) %>

</div>
