
<div>
	<%= partial("mail/body_header", {
		previewText: "Dear "+personFirstName+", You recently requested coverage on "+
			item.Name+", but I need to clarify a few things on your request.",
		title: "Coverage Application Needs Changes",
	}) %>

	<div style="max-width: 80ch;">
		<p>
			Dear <%= personFirstName %>,
		</p>

		<p>
			You recently requested coverage on <%= item.Name %>, but I need to clarify a few things on your request.
		</p>

		<p>
			<%= item.StatusReason %>
		</p>

		<p>
			&mdash;<%= supportFirstName %>
		</p>
	</div>

	<%= partial("mail/alert", {
		alert: "Needs changes",
		alert_description: "",
		alert_icon: "error"
	}) %>

	<%= partial("mail/item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: "",
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: "Change Item in " + appName
	}) %>

	<%= partial("mail/customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName,
		appName: appName,
		policy: policy,
		uiURL: uiURL,
	}) %>

</div>

