<div>
	<%= partial("mail/body_header", {
		previewText: "",
		title: "New Item Auto-Approved",
	}) %>

	<%= partial("mail/alert", {
		alert: "Item auto-approved",
		alert_description: "No action required. Coverage is now active.",
		alert_icon: "beach_access",
	}) %>

	<%= partial("mail/item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: premium,
		coverageStartDate: coverageStartDate,
		accountablePerson: accountablePerson,
		policyType: policy.Type,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: "Open Item in " + appName
	}) %>

</div>

