<div>
	<%= partial("body_header", {
		previewText: "",
		title: "New Item Coverage Application",
		subTitle: ""
	}) %>

	<%= partial("alert", {
		alert: "Needs item coverage review",
		alert_description: "",
		alert_icon: "new"}
	) %>

	<%= partial("item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: coverageStartDate,
		coverageEndDate: coverageEndDate,
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel:buttonLabel}
	) %>

</div>
