<div>
	<%= partial("body_header", {
	    title: "Notice",
	    subTitle: "Coverage has been auto approved for " + item.Name,
	    alert: "",
	    alert_description: "",
		alert_icon: ""}
	) %>

	<%# TODO Add this back in when we're ready for it %>
	<%# coverageEndDate: item.CoverageEndDate, %>

	<%= partial("item_card", {
	    item: item,
	    coverageAmount: coverageAmount,
	    premium: annualPremium,
	    coverageStartDate: coverageStartDate,
	    accountablePerson: accountablePerson,
	    householdID: policy.HouseholdID}
	) %>

	<%= partial("button", {
	    url: itemURL,
	    label: "Open in Cover"}
	) %>

</div>

