
<div>
	<%= partial("body_header", {
			previewText: "No action needed. Coverage is now active. Dear "+personFirstName+", "+item.Name+" has been approved for coverage.",
			title: "Coverage Approved",
			subTitle: "",
	}) %>

	<p>
		Dear <%= personFirstName %>,
	</p>

	<p>
		<%= item.Name %> has been approved for coverage and added to your <%= policyType %> policy.
	</p>
	<p>
		&mdash;<%= supportFirstName %>
	</p>

	<%= partial("alert", {
		alert: "Coverage approved",
		alert_description: "No action needed. Coverage is now active. ",
		alert_icon: "beach_access",
	}) %>

	<%= partial("item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: coverageStartDate,
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: buttonLabel
	}) %>

	<%= partial("customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName,
		appName: appName,
		policy: policy,
		uiURL: uiURL,
	}) %>
</div>

