
<div>
	<%= partial("body_header", {
		previewText: "",
		title: "Coverage Application Needs Changes",
		subTitle: "",
	}) %>

	<p>
		Dear <%= personFirstName %>,
	</p>

	<p>
		You recently requested coverage on <%= item.Name %>, but I need to clarify a few things on your request.
	</p>

	<p>
		<%= item.StatusReason %>
	</p>

	<p>
		<%= supportFirstName %> says:
	</p>

	<%= partial("alert", {
		alert: "Needs changes",
		alert_description: "",
		alert_icon: "error"
	}) %>

	<%= partial("item_card", {
		item: item,
		coverageAmount: coverageAmount,
		premium: annualPremium,
		coverageStartDate: "",
		accountablePerson: accountablePerson,
		householdID: policy.HouseholdID,
		itemURL: itemURL,
		buttonLabel: buttonLabel
	}) %>

	<%= partial("customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName,
		appName: appName,
		policy: policy,
		uiURL: uiURL,
	}) %>

</div>

