<div>
	<%= partial("mail/body_header", {
		previewText: "Dear " + inviteeName + ", " + inviterName + " has invited you to join their insurance policy " +
			policy.Name + ", on " + appName + " by SIL.",
		title: "Welcome",
	}) %>

	<div style="max-width: 80ch;">
		<p>
			Dear <%= inviteeName %>,
		</p>

		<p>
			<%= inviterName %> has invited you to join their insurance policy, <%= policy.Name %>, on <%= appName %>
			by SIL. <%= emailIntro %> As a policy member you'll be able to add items for coverage, manage existing items,
			invite others, and file claims.
		</p>

		<%= partial("mail/button", {
			url: acceptURL,
			label: "Accept Invitation in " + appName,
		}) %>

		<p>
			Log in with your corporate identity account to accept the invitation.
		</p>

		<p>
			&mdash;<%= supportFirstName %>
		</p>
	</div>

</div>
