<div>
	<%= partial("body_header", {
		previewText: previewText,
		title: "Welcome",
		subTitle: "",
	}) %>

	<p>
		Dear <%= personFirstName %>,
	</p>
	<p>
		<%= emailIntro %>
<%= appName %> offers 24/7 access to your policy, fewer restrictions on what can be covered, and
quicker approvals for new items.
	</p>
	<p>
		We’ve automatically imported your existing policies into <%= appName %>. Please verify that
your details are correct. As usual, contact me, <%= supportFirstName %>, if you have any questions
or concerns with your policy.  <%= emailEnding %>
	</p>

	<%= partial("button", {
		url: uiURL,
		label: "Open " + appName }
	) %>
	<p>
		Annual premiums are still auto-renewed at the beginning of the year.
Keep this email for quick access to <%= appName %>’s terms of service, privacy policy,
and support. We’ve got you covered.
	</p>
	<p>
		—<%= supportFirstName %>
	</p>

	<%= partial("customer_footer", {
		supportEmail: supportEmail,
		supportName: supportName}
	) %>
</div>
